<div class="background">
    <div class="card">
        <form class="contents">
          <h1>LOGIN</h1>
          <br />
          <label>Username</label>
          <input placeholder="email@email.com" type="text" name="username" [(ngModel)]="username" required />
          <label>Password</label>
          <input placeholder="Password" type="password" name="password" [(ngModel)]="password" required />
          <p class="hint"><i>*Hint: Type anything, this is all security theater</i></p>
          <button type="submit" (click)="doLogin()" *ngIf="!(isLoading$ | async)">Login</button>
          <app-spinner *ngIf="(isLoading$ | async)"></app-spinner>
        </form>
    </div>
</div>
